<% if current_user.following?(@micropost.user) || current_user == @micropost.user %>
	<%= form_for(current_user.comments.build(micropost_id: @micropost.id)) do |f| %>
	  <%= render 'shared/error_messages', object: f.object %>
	  <div class="field">
	    <%= f.text_field :content, placeholder: "Post a comment..." %>
	  </div>
	  <div><%= f.hidden_field :user_id %></div>
	  <div><%= f.hidden_field :micropost_id %></div>
	  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
	<% end %>
<% end %>