<li>
  <%= gravatar_for user, size: 52 %>
  <%= link_to user.name, user %> | 
  <%= pluralize(user.microposts.count, "micropost") %> | 
  <%= pluralize(user.comments.count, "comment") %>
  <% if current_user.admin? && !current_user?(user) %>
    <br> <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>