<a href="<%= user_path(object) %>">
  <%= gravatar_for object, size: 52 %>
</a>
<h1>
  <%= object.name %>
</h1>
<% if( @profile_link_display_off.nil? ) %>
  <span>
    <%= link_to "view my profile", object %>
  </span>
  <span>
  <%= pluralize(object.microposts.count, "micropost") %>
  </span>
<% end %>